@charset "utf-8";
@import url(goods.css);

* {
    box-sizing: border-box;
    /* background-color: #ebe5d9; */
    margin: 0px;
}

body {
    /* background-color: #ebe5d9; */
    margin: 0px;
}

header {
    --bg: #14B09B;
    --color: #ffffff;
    background: var(--bg);
    color: var(--color);
    position: sticky;
    top: 0;
    z-index: 5;
}

.ad {

    max-width: 100%;
    max-height: 40%;
}

button {
    padding: 20px 0px;
}

.square {
    padding: 50px 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.block {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 15px;
    margin: 10px;
    border-radius: 15px;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.goods {
    max-width: 70%;
    max-height: 70%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #14b09b;
}

.greenBackground {
    margin: 0;
    background-color: #14B09B;
}

.iconFillWhite {
    filter: invert(100%) sepia(100%) saturate(542%) hue-rotate(298deg) brightness(116%) contrast(112%);
}