@font-face {
    font-family: 'Geomanist-ExtraLight';
    src: url('../font/Geomanist-ExtraLight.woff') format("woff");
}

* {
    margin: 0;
    padding: 0;
}

/* 控制search-bar&logo縮放 */
@media (max-width: 768px) {
    .search-bar {
        display: none;
    }
}

header {
    --bg: #14B09B;
    --color: #ffffff;
    background: var(--bg);
    color: var(--color);
    position: sticky;
    top: 0;
    z-index: 5;
}

.btn {
    background-color: #14B09B;
}

/*SLOGAN*/
.slogan {
    font-family: Geomanist-ExtraLight;
    letter-spacing: 1px;
    color: white;
    background-image: url(../image/sloganCover.png);
}

.cover-container {
    max-width: 42em;
}

.pickUpTitle {
    font-weight: bold;
    font-family: Geomanist-ExtraLight;
    text-align: center;
    font-size: 300%;
    letter-spacing: 5px;
    color: #14B09B;
}

.leaf{
    position: absolute;
}

/*PICK UP*/
.card {
    background-color: #ebe5d900;
}

.productImg {
    width: 65%;
    /* 根據需求調整這裡的值 */
    height: auto;
    /* 確保圖片按比例縮放 */
}

/*
 * RECIPE
 * Dummy devices (replace them with your own or something else entirely!)
 */
.recipe {
    font-family: Geomanist-ExtraLight;
    color: white;
    background-image: url("../image/recipeCover.png");
    background-color: aquamarine;
}

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

.contactUs {
    font-family: Geomanist-ExtraLight;
}

/*FOOTER*/
.greenBackground {
    margin: 0;
    background-color: #14B09B;
}

.iconFillWhite {
    filter: invert(100%) sepia(100%) saturate(542%) hue-rotate(298deg) brightness(116%) contrast(112%);
}